[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dateparser = "*"
ipython3 = "*"
pendulum = "*"
pprint = "*"
ipdb = "*"
emoji = "*"
textblob-fr = "*"

[requires]
python_version = "3.7"
